@{
    Layout = "_BlogLayout";
}
@model HomeVM
  <!-- =========== PAGE TITLE ========== -->
<div class="page_title gradient_overlay" style="background: url(assets/assets/images/page_title_bg.jpg);">
    <div class="container">
        <div class="inner">
            <h1>Rooms List View</h1>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li>Rooms List View</li>
            </ol>
        </div>
    </div>
</div>

<!-- =========== MAIN ========== -->
<main id="rooms_list">
    <div class="container">
        @foreach (var item in Model.Rooms)
        {
            <!-- ITEM -->
            <article class="room_list">
                <div class="row row-flex">
                    <div class="col-lg-4 col-md-5 col-sm-12">
                        <figure>
                            <a href="room.html" class="hover_effect h_link h_blue">
                                <img src="~/assets/assets/images/rooms/@item.Images.FirstOrDefault().ImageUrl" class="img-responsive" alt="Image">
                            </a>
                        </figure>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-12">
                        <div class="room_details row-flex">
                            <div class="col-md-9 col-sm-9 col-xs-12 room_desc">
                                <h3><a href="room.html"> @item.Category.Name </a></h3>
                                <p>@item.Description.Substring(0, 100).</p>
                                <div class="room_services">
                                    @foreach (var service in item.Services)
                                    {
                                        if (service.Service.Icon != null)
                                        {
                                            @Html.Raw(service.Service.Icon)
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 room_price">
                                <div class="room_price_inner">
                                    <span class="room_price_number"> €@item.Price  </span>
                                    <small class="upper"> per night </small>
                                    <a href="room.html" class="button  btn_blue btn_full upper">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        }

        <nav class="a_center">
            <ul class="pagination mt50 mb0">
                @if (ViewBag.CurrentPage - 1 != 0)
                {
                    <li class="prev_pagination"><a asp-route-page="@(ViewBag.CurrentPage - 1)"><i class="fa fa-angle-left"></i></a></li>
                }
                else
                {
                    <li class="prev_pagination"><a asp-route-page="@(ViewBag.CurrentPage)"><i class="fa fa-angle-left"></i></a></li>
                }
                @for (int i = 1; i < ViewBag.TotalPage; i++)
                {
                    <li class="@(i == ViewBag.CurrentPage ? "active" : "")"><a asp-route-page="@i">@i</a></li>
                }
                @if (ViewBag.TotalPage >= (ViewBag.CurrentPage + 1))
                {
                    <li class="next_pagination"><a asp-route-page="@(ViewBag.CurrentPage + 1)"><i class="fa fa-angle-right"></i></a></li>
                }
                else
                {
                    <li class="prev_pagination"><a asp-route-page="@(ViewBag.CurrentPage)"><i class="fa fa-angle-right"></i></a></li>
                }
            </ul>
        </nav>
    </div>
</main>