@{
    int count = 0;
}
@model ICollection<Room>

<div class="clearfix"></div>
<div class="content">
    <div class="animated fadeIn">
        <!-- Orders -->
        <div class="orders">
            <div class="row">
                <div class="col-xl-15">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="box-title">Create Room</h4>
                            <div class="col-lg-4">
                                <a asp-action="Create" asp-controller="Room" asp-area="AppAdmin" class="btn btn-danger">Create</a>
                            </div>
                        </div>
                        <div class="card-body--">
                            <div class="table-stats order-table ov-h">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th class="serial">Id</th>
                                            <th class="avatar">RoomImage</th>
                                            <th>Name</th>
                                            <th>Services</th>
                                            <th>Category</th>
                                            <th>View</th>
                                            <th>Description</th>
                                            <th>Price</th>
                                            <th>Settings</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            count++;
                                            <tr>
                                                <td class="serial">@count.</td>
                                                <td class="avatar">
                                                    <div class="round-img">
                                                        <a href="#"><img class="rounded-circle" src="~/assets/assets/images/rooms/@item.Images.FirstOrDefault(i=>i.IsPrimary==true).ImageUrl" alt=""></a>
                                                    </div>
                                                </td>
                                                <td>  <span class="name">@item.Number</span> </td>
                                                <td> <span class="product">@item.Services.Count</span> </td>
                                                <td> <span class="product">@item.Category.Name</span> </td>
                                                <td> <span class="product">@item.View.Name</span> </td>
                                                <td><p>@item.Description.Substring(0, 100)</p></td>
                                                <td>
                                                <td><p>@item.Price $</p></td>
                                                <td>
                                                    <a class="text-warning btn btn-dark" asp-action="Update" asp-controller="Room" asp-area="AppAdmin" asp-route-id="@item.Id"><b>Update</b></a>
                                                    <a class="text-danger btn btn-dark" asp-action="Delete" asp-controller="Room" asp-area="AppAdmin" asp-route-id="@item.Id"><b> Delete</b></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div> <!-- /.table-stats -->
                        </div>
                    </div> <!-- /.card -->
                </div>  <!-- /.col-lg-8 -->
            </div>
        </div>
        <!-- /.orders -->
    </div><!-- .animated -->
</div><!-- .content -->
