@model UpdateRoomVM
<section>
    <div class="pcoded-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="mt-5">Update Room</h5>
                        <hr>
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <img src="~/assets/assets/images/rooms/@Model.RoomImageVMs.FirstOrDefault(r=>r.IsPrimary)?.ImageUrl" />
                                    <label asp-for="MainPhoto">Photo</label>
                                    <input asp-for="MainPhoto" class="form-control" placeholder="MainPhoto" accept="image/*" />
                                    <span asp-validation-for="MainPhoto"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="row">
                                        @foreach (RoomImageVM imageVM in Model.RoomImageVMs.Where(p => p.IsPrimary == false).ToList())
                                        {
                                            <div class="col-3 position-relative">
                                                <img style="width:100%;height:150px;" src="~/assets/assets/images/rooms/@imageVM.ImageUrl" />
                                                <input type="hidden" name="ImagesIds" value="@imageVM.Id" class="form-control" />
                                                <button type="button" style="right:8px;" class="btn btn-danger position-absolute custom-delete">X</button>
                                            </div>
                                        }
                                    </div>
                                    <label asp-for="Photos">Additional Photos</label>
                                    <input asp-for="Photos" class="form-control" placeholder="Photos" accept="image/*" />
                                    <span asp-validation-for="Photos"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="Name">Name</label>
                                    <input asp-for="Name" class="form-control" placeholder="Name" value="@Model.Name" />
                                    <span asp-validation-for="Name"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="Description">Description</label>
                                    <input asp-for="Description" class="form-control" placeholder="Description" value="@Model.Description" />
                                    <span asp-validation-for="Description"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="Price">Price</label>
                                    <input asp-for="Price" class="form-control" placeholder="Price" value="@Model.Price" />
                                    <span asp-validation-for="Price"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="NumberOfPeople">NumberOfPeople</label>
                                    <input asp-for="NumberOfPeople" class="form-control" placeholder="NumberOfPeople" value="@Model.NumberOfPeople" />
                                    <span asp-validation-for="NumberOfPeople"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="HotelId">Hotel</label>
                                    <select asp-for="HotelId" class="form-control" asp-items="new SelectList(ViewBag.Hotels,nameof(Hotel.Id),nameof(Hotel.Name))">
                                    </select>
                                    <span class="text-danger" asp-validation-for="HotelId"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="CategoryId">Category</label>
                                    <select asp-for="CategoryId" class="form-control" asp-items="new SelectList(ViewBag.Categories,nameof(Category.Id),nameof(Category.Name))">
                                    </select>
                                    <span class="text-danger" asp-validation-for="CategoryId"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="ViewId">View</label>
                                    <select asp-for="ViewId" class="form-control" asp-items="new SelectList(ViewBag.Views,nameof(View.Id),nameof(View.Name))">
                                    </select>
                                    <span class="text-danger" asp-validation-for="ViewId"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="ServiceIds">Services</label>
                                    <select asp-for="ServiceIds" class="form-control" asp-items="new SelectList(ViewBag.Services,nameof(Service.Id),nameof(Service.Name))">
                                    </select>
                                    <span class="text-danger" asp-validation-for="ServiceIds"></span>
                                </div>
                            </div>
                            <button type="submit" class="btn  btn-primary">Update</button>
                            <div class="form-group col-md-6" asp-validation-summary="ModelOnly">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--[ form-element ] end-->
        </div>
        <!--[ Main Content ] end-->
    </div>
</section>


@section DeletePhotos{
    <script>let btns = document.querySelectorAll(".custom-delete")
        btns.forEach(b => {
            b.addEventListener("click", function () {
                b.parentElement.remove()
            })
        })
    </script>
}